:root {
    --dark: #102F15;
    --green: #728C5A;
    --light: #EAF1B1;
    --cream: #EBFADC;
}

body {
    background: var(--cream);
    color: var(--dark);
    font-family: "Courier New", monospace;
    margin: 0;
}

.nb-navbar {
    background: var(--dark);
    color: var(--cream);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.nb-navbar-link {
    color: var(--cream);
}

.nb-button.green {
    background: var(--green);
    border: none;
    padding: .5rem 1rem;
}

.nb-input.green {
    border: 2px solid var(--green);
    padding: .5rem;
    width: 100%;
    margin-bottom: 1rem;
}


/* RESPONSIVE */
@media (min-width: 768px) {
    .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}
